html, body {
  margin: 0;
  padding: 0;
  font-family: monospace;
}

#fullsoak-htmlshell-main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  position: fixed;
  bottom: 0;
  background: white;
  z-index: 1;
  width: 100vw;
  word-break: break-word;
  line-break: loose;
}

footer div {
  padding: 1em;
}
